__pycache__/
*.py[cod]
*.log
*.tmp
*.ipynb
.env
.venv/
notebooks/
output/
*.pt
*.tar.gz
*.zip
*.rar
*.7z
deva.py
ormain.py
t5.py
try.py
unwanted.py/
node_modules/
quiz_generator.py
docs/     
quiz_master.py